<p>Kedves <%=name%>!</p>
<br/>
<p>Szeretettel várunk téged pop-up napunkon az Anker’t-ben.</p>
<p>Időpont: 2018. március 8. 14:00</p>
<p>Cím: 1061 Budapest, Paulay Ede utca 33.</p>
<br>
<p>A Co.Mom csapata</p>
